
/*Pagination*/
nav.navigation.pagination{
	display: flex;
	justify-content: center;
}
.nav-links a, span.page-numbers.current[aria-current="page"] {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
	margin: 0 4px;
}
.nav-links a.active {
	background-color: #4CAF50;
	color: white;
	border: 1px solid #4CAF50;
}
  
.nav-links a:hover:not(.active) {
	background-color: #ddd;
}

/*Comments*/
#div-comment-2{
	display: flex;
	flex-flow: row wrap;
	width: 50%;
}
#div-comment-2 .comment-meta.commentmetadata{
	padding-top: 30px;
	margin-left: -87px;
}

#div-comment-2 p{
	margin-left: 80px;
	margin-right: 2%;

}

ol.comment__list{
	list-style: none;
	text-decoration: none;
}

ol.comment__list img{
	border-radius: 50%;
	vertical-align: top;
}

#commentform label{
	display: block;;
}



