/*Personalisation navbar*/
nav ul {
	list-style-type:none;
    display:flex;
	flex-flow: row-reverse;
    margin: 0 auto;
    padding-left: 23%;

 
}
.navbar-expand-lg .navbar-collapse{
    justify-content: center;
    align-items: center;
}

nav li{
	padding-left:50px;
	font-size:20px;
}
nav li a {
	color:black;
	text-decoration:none
}
header#site-header{
height:600px;
}

/*header*/
/*banner*/
.banner{
	height:500px;
	width:100vw;
	margin-left:-105px;
}


[type="submit"]:not(:disabled){
	color:white;
	background-color:black;
}
i.logo{
padding-right:	150px;
}
#searchform{
    margin-right: 10px;

}

.home :is(#post-57,#post-54,#post-51,#post-43,#post-41,#post-39,#post-37,#post-35, #post-22){
	padding-right:0px; 
	padding-left:0px;
	object-fit:cover;
	margin-top:50px;
	text-align:center;

}

.home :is(#post-43,#post-41,#post-39) {
	width:250px;
	height:420px;
}
