/*Settings navbar*/


/*header*/
/*banner*/
.banner{
	height:500px;
	width:100vw;
	margin-left:-105px;
}


[type="submit"]:not(:disabled){
	color:white;
	background-color:black;
}
i.logo{
padding-right:	150px;
}
.form-control{
    margin-right: 10px;
	width:15%;

}

.home :is(#post-57,#post-54,#post-51,#post-43,#post-41,#post-39,#post-37,#post-35, #post-22){
	padding-right:0px; 
	padding-left:0px;
	object-fit:cover;
	margin-top:50px;
	text-align:center;

}

.home :is(#post-43,#post-41,#post-39) {
	width:250px;
	height:420px;
}
